<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form4.as_p }}
                <button>Update</button>    
            </form>
        </div>
    </main>
</body>
</html>
