<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
                <a href="{% url 'todo_item_create' %}">Create a new item</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list5 in todo_list3 %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todo_list5.id %}">{{ todo_list5.name }}</a>
                            </td>
                            <td>
                                {{ todo_list5.items.count }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
