<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail2.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail2.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_list_detail2.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks2 in tasks1 %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' tasks2.id %}">{{ tasks2.task }}</a></td>
                            <td>{{ tasks2.due_date }}</td>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
